{% if page.nt.url %}
<a href="{{page.nt.url}}" class="navigation navigation-next navigation-unique" aria-label="{{page.nt.title}}" style="margin-right: 0px;">
    <i class="fa fa-angle-left"></i>
</a>
{% endif %}
{% if page.pv.url %}
<a href="{{page.pv.url}}" class="navigation navigation-prev navigation-unique" aria-label="{{page.pv.title}}" style="margin-right: 0px;">
    <i class="fa fa-angle-right"></i>
</a>
{% endif %}

{% if page.nt.url or page.pv.url %}
<style>
    .navigation-next {
        left:0;
    }

    .navigation-prev {
        right:0;
    }

    .navigation {
        position: absolute;
        top: 50px;
        bottom: 0;
        margin: 0;
        max-width: 150px;
        min-width: 90px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        font-size: 40px;
        color: #ccc;
        text-align: center;
        -webkit-transition: all 350ms ease;
        -moz-transition: all 350ms ease;
        -o-transition: all 350ms ease;
        transition: all 350ms ease;

        @media screen and (max-width: 1240px){
            position: static;
            top: auto;
            max-width: 50%;
            width: 50%;
            display: inline-block;
            float: left;
            bottom: 0;
            margin: 0;
            min-width: 90px;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            font-size: 40px;
            color: #ccc;
            text-align: center;
        }
    }

    .navigation:hover {
        text-decoration: none;
        color: #444;
    }
</style>
{% endif %}